*{
    margin: 0;
    padding: 0;
    font-family: arial;
    box-sizing: border-box;
    border: border-box;
}
/*****  start navbar section *****/ 

.navbar{
    background-color: #0f1111;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.border{
    border: 1.5px solid transparent;
}
.border :hover{
    border: 1.5px solid white;
}
/***** header add box 2 *****/ 
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
} 
.add-sec{
    font-size: 1rem;
    margin-left: 5px;
}
.add-icon{
    display: flex;
    align-items: center;
}
 
  /* box3 */
.nav-search{
    display: flex;
    align-items: center;
    background-color: pink;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius:4px ;
    -webkit-border-radius:4px ;
    -moz-border-radius:4px ;
    -ms-border-radius:4px ;
    -o-border-radius:4px ;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
  height: 40px;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    height: 40px;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color:#febd68;
    height: 40px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #0f1111;
}


.nav-search:hover{
    border:3px solid orange 

}
/* box 4 */



span{
    font-size: 0.7rem;
}
.nav-silu{
    font-size: 0.8rem;
    font-weight: 700;
}
/* box 5 */

.add-cart i{
    font-size: 30px;
   
}
.add-cart{
    font-size:0.8rem;
    font-weight: 700;
}
 /***** End navbar section *****/

 /***** start panel Section *****/ 
 
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
  display: inline;
  margin-left: 15px;

}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

  /***** End  panel Section *****/
 /***** start of hero Section *****/ 
 .hero-section{
   background-image: url('../image/hero_image.jpg');
   height: 380px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
 }
 .hero-msg{
    background-color: white;
    color: black;
    width: 80%;
    height: 40px;
    display: flex;
    font-size: 0.85rem;
    margin-bottom: 25px;
 }
 .hero-msg a{
    color: #007185;
 }
 .hero-msg{
    align-items: center;
    padding: 10px;
 }
 
 /***** End  of hero Section *****/
 /*****start shop Section *****/
.shop-section{
    display: flex;
   flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
 .box{
    border: 0.1px solid white;
    height: 400px;
    width: 23% ;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
 }
 .box-img{
    background-image: url("../image/box1_image.jpg");
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
 }
 .box-content{
    margin-left: 1rem;
    margin-right: 1rem;
 }
 .box-content p{
    color: #007185;
 }
 
 /***** End shop Section *****/
 /* footer section */
 footer{
    margin-top: 15px;
 }
 .foot-panell1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
 }
 .foot-pannel2{
    background-color: #222f3d;
    color: white;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
 }
 ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
 }
 ul{
    margin-top: 20px;
 }
 .foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .logo{
    background-image: url("../image/amazon_logo.png");
    height: 50px;
    width: 100px;
    background-size: cover;
 }
 .insta{
    background-image: url();
 }
 
